{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load boards_filter %}

{% block head_title %}
    {{ post.title }} - Blog
{% endblock %}

{% block content %}

<!-- Page content-->
        <div class="container">
            <div class="row">


                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                                {% if user.is_authenticated and user == post.author %}
                                    <a class="btn btn-success btn-sm float-end" href="/blog/update_post/{{ post.pk }}/" role="button">Edit Post</a>
                                {% endif %}

                                <h1 class="fw-bolder mb-1">{{ post.title }}</h1>

                            <!-- Post meta content-->
                            <hr/>
                            <div class="text-muted fst-italic mb-2">
                                {{ post.created_at }} by <a href="{% url 'profilehistory:profile_find' post.author %}">{{ post.author }}</a>

                                {% if post.categoryblog %}
                                    <span class="badge bg-secondary float-end">{{ post.categoryblog }}</span>
                                {% else %}
                                    <span class="badge bg-secondary float-end">미분류</span>
                                {% endif %}
                                <hr/>
                            </div>
                            <!-- Post categories-->
                        </header>
                        <!-- Preview image figure-->
                        {% if post.head_image %}
                            <figure class="mb-4"><img class="card-img-top" src="{{ post.head_image.url }}" alt="{{ post }} head image" /></figure>
                        {% else %}
                            <figure class="mb-4"><img class="card-img-top" src="/static/images/logo.jpg" alt="{{ post }} head image" /></figure>

                        {% endif %}

                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">{{ post.get_content_markdown | safe }}</p>
                        </section>

                        <hr/>
                        {% if post.file_upload %}
                            <a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" role="button" download>Download : {{ post.get_file_name }}</a>
                        <hr/>
                        {% endif %}


                    </article>









                    <div id="comment-area">
                        <!-- Comments Form -->
                        <div class="card my-4">
                            <h5 class="card-header">Leave a Comment:</h5>
                            <div class="card-body">
                                {% if user.is_authenticated %}



                                    <form id="comment-form" method="POST" action="{{ post.get_absolute_url }}/new_comment/">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {{ comment_form | crispy }}
                                        </div>
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </form>

                                {% else %}
                                    <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="{% url 'common:login' %}" data-toggle="modal" data-target="#loginModal">Log in and leave a comment</a>
                                {% endif %}
                            </div>
                        </div>


                <!-- Single Comment -->


         <h5 class="border-bottom my-3 py-2">{{post.comment_set.count}}개의 질문이 있습니다.</h5>




        {% if post.comment_set.exists %}
            {% for comment in post.comment_set.iterator %}

                <div class="card my-3">
                    <div class="card-body">


                        <div class="card-text" style="white-space: pre-line;">
                            {{ comment.content}}
                        </div>

                        <div class="d-flex justify-content-end">
                            {% if comment.modified_at %}
                                {% if comment.created_at != comment.modified_at %}
                                <div class="badge bg-light text-dark p-2 text-start mx-3">
                                    <div class="mb-2">updated at:</div>
                                    <div>{{ comment.modified_at }}</div>
                                </div>
                                {% endif %}
                            {% endif %}
                            <div class="badge bg-light text-dark p-2 text-start">
                                <div class="mb-2">commented by <a href="{% url 'profilehistory:profile_find' comment.author %}">{{ comment.author.username }}</a></div>
                                <div>{{ comment.created_at  }}</div>
                            </div>
                        </div>
                        <div class="my-3">
                            {% if user.is_authenticated and comment.author == user %}
                                <a role="button"
                                   class="btn btn-sm btn-info"
                                   id="comment-{{ comment.pk }}-update-btn"
                                   href="/blog/update_comment/{{ comment.pk }}/">
                                    edit
                                </a>
                                <a role="button"
                                   href="#"
                                   id="comment-{{ comment.pk }}-delete-modal-btn"
                                   class="btn btn-sm btn-danger"
                                   data-toggle="modal" data-target="#deleteCommentModal-{{ comment.pk }}">
                                    delete
                                </a>
                                                       <!-- Modal -->
                                <div class="modal fade" id="deleteCommentModal-{{ comment.pk }}" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">Are You Sure?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <del>{{ comment | linebreaks }}</del>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <a role="button" class="btn btn-danger" href="/blog/delete_comment/{{ comment.pk }}/">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>





                {% if not comment.feedback_set.exists %}
                 <!-- Feedback Form -->
                        {% if user.is_authenticated and user.is_staff %}

                        <div class="card my-4">
                            <h5 class="card-header">Leave a Feedback:</h5>
                            <div class="card-body">

                                       <form id="feedback-form" method="POST" action="/blog/new_feedback/{{ comment.id }}/">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {{ comment_form | crispy }}
                                        </div>
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </form>


                            </div>
                        </div>
                         {% endif %}
                {% endif %}



                                                <!-- feedback -->
                        {% if comment.feedback_set.exists %}
                            {% for feedback in comment.feedback_set.iterator %}

                                <div class="card my-3">
                                    <div class="card-body">

                                         <div class="badge bg-light text-dark p-2 text-start">
                                                <div class="mb-2">{{ comment.author.username }}님의 질문에 대한 {{ feedback.author.username }}님의 피드백</div>
                                        </div>

                                        <div class="card-text" style="white-space: pre-line;">
                                            {{ feedback.content}}
                                        </div>

                                        <div class="d-flex justify-content-end">
                                            {% if feedback.modified_at %}
                                                {% if feedback.created_at != feedback.modified_at %}
                                                <div class="badge bg-light text-dark p-2 text-start mx-3">
                                                    <div class="mb-2">updated at:</div>
                                                    <div>{{ feedback.modified_at }}</div>
                                                </div>
                                                {% endif %}
                                            {% endif %}
                                            <div class="badge bg-light text-dark p-2 text-start">
                                                <div class="mb-2">feedback by <a href="{% url 'profilehistory:profile_find' feedback.author %}">{{ feedback.author.username }}</a></div>
                                                <div>{{ feedback.created_at  }}</div>
                                            </div>
                                        </div>
                                        <div class="my-3">
                                            {% if user.is_authenticated and feedback.author == user %}
                                                {% if user.is_superuser or user.is_staff %}
                                                <a role="button"
                                                   class="btn btn-sm btn-info"
                                                   id="feedback-{{ feedback.pk }}-update-btn"
                                                   href="/blog/update_feedback/{{ feedback.pk }}/">
                                                    edit
                                                </a>
                                                <a role="button"
                                                   href="#"
                                                   id="feedback-{{ feedback.pk }}-delete-modal-btn"
                                                   class="btn btn-sm btn-danger"
                                                   data-toggle="modal" data-target="#deleteFeedbackModal-{{ feedback.pk }}">
                                                    delete
                                                </a>
                                                                       <!-- Modal -->
                                                <div class="modal fade" id="deleteFeedbackModal-{{ feedback.pk }}" tabindex="-1" role="dialog" aria-labelledby="deleteFeedbackModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="feedbackModalLabel">Are You Sure?</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <del>{{ feedback | linebreaks }}</del>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                                <a role="button" class="btn btn-danger" href="/blog/delete_feedback/{{ feedback.pk }}/">Delete</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                        {% endif %}

                        <!-- feedback end-->











                    </div>
                </div>






            {% endfor %}
        {% endif %}

                    </div>

                </div>

                            <!-- Side widgets-->
                            <div class="col-lg-4">
                                <!-- Search widget-->
                                <div class="card mb-4">
                                    <div class="card-header">Search</div>
                                    <div class="card-body">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search for..." id="search-input">
                                            <span class="input-group-btn">
                                                    <button class="btn btn-secondary" type="button" onclick="searchPost();">Go!</button>
                                                </span>
                                    </div>
                                    </div>
                                </div>
                                <!-- Categories widget-->
                                <div class="card my-4" id="categories-card">
                                    <h5 class="card-header">Categories</h5>
                                    <div class="card-body">
                                        <div class="row">
                                                        {% for category in categoriesblog %}
                                                        <li>
                                                            <a href="{{ category.get_absolute_url }}">{{ category }} ({{ category.post_set.count }})</a>
                                                        </li>
                                                        {% endfor %}
                                                        <li>
                                                            <a href="/blog/categoryblog/no_category/">미분류 ({{ no_categoryblog_post_count }})</a>
                                                        </li>
                                        </div>
                                    </div>
                                </div>
                            </div>
        </div>
    </div>
{% endblock %}