{% extends 'base.html' %}
{% block content %}
<!-- 413 Page -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">

            <span class="display-1 d-block">413</span>
            <div class="mb-4 lead">첨부 파일 크기가 너무 큽니다.</div>
            <div class="mb-4 lead">Request Entity Too Large</div>
            <img class="img-fluid rounded" src="/static/images/logo.png"  alt="logos" width="180" height="85" >
            <br>
            <a href="/" class="btn btn-link">홈으로 돌아가기</a>
        </div>
    </div>
</div>
{% endblock %}