{% extends 'base.html' %}
{% block content %}
<!-- 404 Page -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">

            <span class="display-1 d-block">502</span>
            <div class="mb-4 lead">잘못된 게이트웨이</div>
            <div class="mb-4 lead">Bad Gateway</div>
            <img class="img-fluid rounded" src="/static/images/logo.png"  alt="logos" width="180" height="85" >
            <br>
            <a href="/" class="btn btn-link">홈으로 돌아가기</a>
        </div>
    </div>
</div>
{% endblock %}